

.IndexPage{
    .DiscussionListItem-content {
        padding: 0px !important;
    }
    .DiscussionListItem {
        box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
        padding: 20px;
    }
    .DiscussionListItem-info .item-excerpt img {
        max-width: 30% !important;
        float: left;
        margin-right: 15px;
        margin-top: 15px;
        border-radius: 4px;
    }
    .DiscussionListItem-info .item-excerpt {
        display: flex !important;
        text-align: justify;
        margin-right: 0px;
        font-size: 14px;
    }
    .DiscussionListItem-info .item-excerpt p {
        margin-left: 15px;
        margin-right: 15px;
    }
    .DiscussionListItem-title {
        justify-content: center;
        display: flex;
        margin: 10px !important;
        font-size: 18px !important;
        font-weight: 600;
    }
    .DiscussionListItem-info .item-tags {
        position: absolute !important;
        max-width: 90%;
        right: 0% !important;
        bottom: 0% !important;
        margin: 15px;
        top: unset !important;
        -webkit-mask-image: unset !important;
        justify-content: center;
        display: flex;
    }
    .TagLabel-text {
        font-size: 0% !important;
        i {
            font-size: 12px;
            padding-inline: 6px;
            padding-block: 3px;
        }
    }
    .DiscussionListItem-count {
        display: none !important;
    }
}




